* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin: auto;
    width: 670px;
    height: 758px;
/*    background: red;*/
    display: flex;
    flex-direction: column;
    
}
.head {
    height: 258px;
    width: 670px;
/*    background: blue;*/
    display: flex;
    flex-direction: column;
}
.head-first {
    height: 80px;
    width: 670px;
/*    background: grey;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 12px;
}

.first-logo {
    width: 162px;
    height: 35px;
/*    background: green*/
}
.logo-text-big {
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    line-height: 2px;
}
.width {
    font-weight: bold;
}
.logo-text-small {
    text-transform: uppercase;
    font-size: 11px;
    color: white;
    line-height: 2px;
}

.first-social {
    width: 100px;
    height: 19px;
/*    background: green;*/
    display: flex;
    flex-direction: row;
}
.linknin {
    width: 18px;
    height: 18px;
    background: url("../Images/linkedin.png");
    background-size: cover;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
}
.myspace {
    width: 18px;
    height: 18px;
    background: url("../Images/myspace.png");
    background-size: cover;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
}
.facebook {
    width: 18px;
    height: 18px;
    background: url("../Images/facebook.png");
    background-size: cover;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
}
.twiter {
    width: 18px;
    height: 18px;
    background: url("../Images/twitter.png");
    background-size: cover;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
} 
.technorati {
     width: 18px;
    height: 18px;
    background: url("../Images/technorati.png");
    background-size: cover;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
}

.head-second {
    height: 38px;
    width: 670px;
    background: rgba( 45, 42, 49, 0.6);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    width: 400px;
    padding-left: 12px;
}
.active {
    border: 1px solid black;
    background: linear-gradient(to top, #433a5e, #3e598d, #5183bd);
    border-radius: 7px;
     text-decoration: none;
    color: #b7d7ee;
    padding: 3px 17px;
    font-size: 12px;
}

.menu-btn {
    text-decoration: none;
    color: #b7d7ee;
    padding: 3px 17px;
    font-size: 12px;
}
.menu-btn:hover {
    border: 1px solid black;
    background: linear-gradient(to top, #433a5e, #3e598d, #5183bd);
    border-radius: 7px;
}

.head-third {
    height: 140px;
    width: 670px;
/*    background: red;*/
}

.main {
    width: 700px;
    height: 600px;
/*    background: yellow;*/
    background: #413f44;
    position: relative;
    display: flex;
    flex-direction: row;
    position: relative;
}
.main-left {
    width: 425px;
    height: 510px;
/*    background: red;*/
    display: flex;
    flex-direction: column;
}
.main-left-top {
    width: 370px;
    height: 224px;
/*    background: blue;*/
    margin-left: 28px;
    margin-top: 31px;
    display: flex;
    flex-direction: column;
}
.left-top-head {
    height: 65px;
    width: 370px;
/*    background: green;*/
}
h2 {
    font-size: 20px;
    color: #729dd0; 
    margin-bottom: 10px;
}
.top-head-text {
    font-size: 12px;
    color: white;
    font-style: italic;
}
.left-top-second {
    width: 370px;
    height: 160px;
/*    background: grey;*/
}
.left-top-second {
    display: flex;
    flex-direction: row;
}
.top-second-left {
    width: 150px;
    height: 145px;
/*   background: url(../Images/image_04.jpg);*/
/*    box-shadow: 0 0 0 7px #343338;*/
    margin-left: 7px;
    margin-top: 7px;
}
.city {
    background: yellow;
    background-image: url(../Images/image_04.jpg);
    box-shadow: 0 0 0 7px #343338;
    width: 145px;
    height: 145px;
} 
.top-second-right {
    display: flex;
    flex-direction: column;
    width: 195px;
    height: 158px;
    margin-left: 20px;
/*    background: green;    */
}

.right-top-text {
    color: #98a2ac;
    font-size: 11px;
    text-align: justify;
}

.second-right-buttom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 195px;
    height: 30px;
/*    background: red;*/
    margin-top: -9px;
    padding-bottom: 5px
}
.btn {
    background: linear-gradient(to top, #28252c, #322f37);
    color: #8c8885;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 7px;
}
.btn:hover {
    background: background: linear-gradient(to top, #322f37, #28252c);
}

.main-left-bottm {
    width: 366px;
    height: 210px;
/*    background: green;*/
    margin-left: 27px;
    margin-top: 30px;
}
.left-bottom-head {
    height: 30px;
    width: 366px;
/*    background: grey;*/
    margin-top: 20px;
}
.left-bottm-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.parner1 {
    width: 135px;
    height: 40px;
/*    background: white;*/
/*
    background: url(../Images/flashmog);
    background-size: cover;
    background-image: url(../Images/flashmo.png); 
*/
    margin-right: 10px;
}

.parner2 {
    width: 200px;
    height: 40px;
/*    background: red;*/
}

.parner3 {
    width: 135px;
    height: 40px;
/*    background: white;*/
    margin-right: 10px;
    margin-top: 20px;

}
.parner4 {
    width: 200px;
    height: 40px;
/*    background: white;*/
    margin-top: 20px;
}

.parter-logo {
    color: #2e2f31;
    font-size: 30px;
    text-decoration: none;
}

.parter-logo:hover {
    color: red;
}

span {
    font-weight: bold;
}

.main-right {
	width: 280px;
	height: 510px;
/*	background: yellow;*/
}

.main-right-top {
    width: 205px;
    height: 180px;
/*    background: red;*/
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.right-top-head {
    width: 205px;
    height: 30px;
/*    background: green;*/
}
.right-text {
    font-style: italic;
    color: white;
}

.right-top-body {
    width: 205;
    height: 125px;
/*    background: grey;*/
}
.right-body-text {
    font-size: 12.5px;
    color: #98a2ac;
    text-align: justify;
}
.right-top-footer {
    width: 205px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.main-right-buttom {
    height: 235px;
    width: 205px;
    margin-left: 20px;
    margin-top: 50px;
/*    background: green;*/
}
.right-buttom-head {
    height: 20px;
    width: 205px;
    margin-bottom: 15px;
/*    background: red;*/
}
.right-buttom-body {
    height: 185px;
    width: 205px;
    padding-left: 20px;
    box-sizing: border-box;
}
ul {
    list-style: none;
    list-style-image: url(../Images/list.png);
    font-size: 12px;
}
li {
    margin-bottom: 5px;
    color: white;
}




.right-buttom-footer {
    width: 205px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -15px;
}

.line {
    position: absolute;
    border: 1px solid #3b3b3d;
    width: 370px;
    top: 290px;
    left: 27px;
}
.line1 {
    position: absolute;
    border: 1px solid #3b3b3d;
    width: 210px;
    top: 230px;
    left: 438px
}






.footer {
    width: 670px;
    height: 30px;
/*    background: green;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text-footer  {
    font-size: 12px;
    color: #4d2d69;
}