* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin: auto;
    width: 670px;
    height: 758px;
/*    background: red;*/
    display: flex;
    flex-direction: column;
    
}
.head {
    height: 258px;
    width: 670px;
/*    background: blue;*/
    display: flex;
    flex-direction: column;
}
.head-first {
    height: 80px;
    width: 670px;
/*    background: grey;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 12px;
}

.first-logo {
    width: 162px;
    height: 35px;
/*    background: green*/
}
.logo-text-big {
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    line-height: 2px;
}
.width {
    font-weight: bold;
}
.logo-text-small {
    text-transform: uppercase;
    font-size: 11px;
    color: white;
    line-height: 2px;
}

.first-social {
    width: 100px;
    height: 19px;
/*    background: green;*/
    display: flex;
    flex-direction: row;
}
.linknin {
    width: 18px;
    height: 18px;
    background: url("../Images/linkedin.png");
    background-size: cover;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
}
.myspace {
    width: 18px;
    height: 18px;
    background: url("../Images/myspace.png");
    background-size: cover;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
}
.facebook {
    width: 18px;
    height: 18px;
    background: url("../Images/facebook.png");
    background-size: cover;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
}
.twiter {
    width: 18px;
    height: 18px;
    background: url("../Images/twitter.png");
    background-size: cover;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
} 
.technorati {
     width: 18px;
    height: 18px;
    background: url("../Images/technorati.png");
    background-size: cover;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
}

.head-second {
    height: 38px;
    width: 670px;
    background: rgba( 45, 42, 49, 0.6);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    width: 400px;
    padding-left: 12px;
}
.active {
    border: 1px solid black;
    background: linear-gradient(to top, #433a5e, #3e598d, #5183bd);
    border-radius: 7px;
     text-decoration: none;
    color: #b7d7ee;
    padding: 3px 17px;
    font-size: 12px;
}

.menu-btn {
    text-decoration: none;
    color: #b7d7ee;
    padding: 3px 17px;
    font-size: 12px;
}
.menu-btn:hover {
    border: 1px solid black;
    background: linear-gradient(to top, #433a5e, #3e598d, #5183bd);
    border-radius: 7px;
}

.head-third {
    height: 140px;
    width: 670px;
/*    background: red;*/
}

.main {
    width: 670px;
    height: 500px;
    background: yellow;
    background: #413f44;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
}
.line {
    position: absolute;
    border: 1px solid #3b3b3d;
    width: 270px;
    top: 290px;
    left: 20px
}
.line1 {
    position: absolute;
    border: 1px solid #3b3b3d;
    width: 290px;
    top: 290px;
    left: 315px
}

.main-head {
/*    background: red;*/
    width: 670px;
    height: 282px;
    display: flex;
    flex-direction: row;
}

.main-head-left {
/*    background: blue;*/
    height: 274px;
    width: 315px;
    display: flex;
    flex-direction: column;
}
.head-left-head {
    height: 131px;
    width: 275px;
/*    background: red;*/
    padding: 15px;
    padding-left: 25px;
}

h2 {
    font-size: 22px;
    color: #729dd0; 
    margin-bottom: 10px;
}
.left-head-text {
    font-size: 12px;
    font-style: italic;
    color: white;
}
.head-left-body {
/*    background: red;*/
    width: 315px;
    height: 102px;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 15px;
    margin-top: -15px;
}

.left-body-left {
    width: 102px;
    height: 102px;
    background: yellow;
}
.img-apple {
    width: 88px;
    height: 88px;
    background: yellow;
    background-image: url(../Images/image_02.jpg);
    box-shadow: 0 0 0 7px #343338;
    margin-top: 7px;
    margin-left: 7px;
}

.left-body-right {
    width: 163px;
    height: 102px;
/*    background: white;*/
    color: #98a2ac;
    font-size: 10.5px;
    padding-left: 10px;
}
.left-footer-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 25px;
}
.btn {
    display: inline-block;
    text-align: right;
    padding: 7px 10px;
    background: linear-gradient(to top, #28252c, #322f37);
    cursor: pointer;
    margin-top: -10px;
    font-size: 12px;
    color: #8c8885;
    border-radius: 7px;
    border: 1px solid black;
    margin-top: 10px;
}
.btn:hover {
    background: linear-gradient(to top, #322f37, #28252c);
}
.main-head-right {
    width: 355px;
    height: 274px;
/*    background: white;*/
     display: flex;
    flex-direction: column;
}

.main-body {
/*    background: green;*/
    width: 670px;
    height: 213px;
}

.head-right-first {
    margin-left: 0px;
    width: 355px;
    height: 240px;
/*    background: yellow;*/
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 15px;
}
.features {
    list-style: none;
     color: #8c8885;
    list-style-image: url(../Images/list.png);
}
.features li{
    padding-top: 8px;
}

.right-footer-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 30px;
}

.main-body {
    width: 617px;
    height: 210px;
/*    background: red;*/
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}
.main-body-left {
    width: 276px;
    height: 205px;
/*    background: blue;*/
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}
.body-left-head {
    height: 25px;
    width: 276px;
    margin-top: 30px;
/*    background: yellow;*/
}
.left-body-right-text {
     color: #98a2ac;
    font-size: 11px;
}
.body-left-body {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.main-body-right {
    width: 290px;
    height: 175px;
/*    background: yellow;*/
   margin-left: 20px;
    padding-top: 30px;
    
}


.features li:first-child {
    padding-top: 0px;
}
.footer-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}

.main-body-right-text {
     color: #98a2ac;
    font-size: 12px;
    font-style: italic;
}

.footer {
    width: 670px;
    height: 30px;
/*    background: green;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text-footer  {
    font-size: 12px;
    color: #4d2d69;
}