* {
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: "League Gothic";
    src: url(../Fonts/LeagueGothicRegular.TTF);
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../Fonts/OpenSans-Regular.TTF);
}
.container-background {
    width: 100%;
    height: 2520px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.background-top {
    width: 100%;
    height: 518px;
    background-image: url(../Images/bg.png);
    background-position: -1050px 0px;
    margin: auto;
}

.bg-top-container {
    width: 320px;
    height: 518px;
    margin: auto;
    box-sizing: border-box;
    padding-top: 40px;
}
.top-container-first-768 {
    width: 320px;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-sizing: border-box;
    
}
.top-container-first-left {
    width: 318px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.top-container-first-right {
    width: 320px;
    height: 100px;
    box-sizing: border-box;
    padding-top: 0px;
    padding-left:  70px;
    visibility: hidden;
    
}
.hover-menu-1 {
    color: #ffffff;
    font-size: 24px;
    font-family: "League Gothic",sans-serif;
    position: absolute;
    top: 144px;
    left: 140px;
}
.head-text-1-1 {
    color: #ffffff;
    font-size: 48px;
    font-family: "League Gothic", sans-serif;
}
.head-text-2-1 {
    color: #553c61;
    font-size: 48px;
    font-family: "League Gothic", sans-serif;
}

.head-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nead-nav-a {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    font-family: "League Gothic", sans-serif;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
}
.nead-nav-a:hover {
    border-bottom: 1px solid #6d4c7b;
}

.layer-info {
    width: 320px;
    height: 248px;
    margin: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 3;
    top: 200px;
}

.layer-innfo-left {
    width: 320px;
    height: 248px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    box-sizing: border-box;
}
.l {
    color: #fefefe;
    font-size: 48px;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
} 
.o {
    color: #fefefe;
    font-size: 36px;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    margin-top: 130px;
}
.head-text-2 {
    color: #edbfff;
    font-size: 14px;
    font-family: "League Gothic", sans-serif;
    text-transform: uppercase;
}
.head-text-3 {
      color: #ffffff;
    font-size: 16px;
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: 300;
    text-align: justify;
    visibility: hidden;
}
.arrow-left {
    content: "";
    position: absolute;
    width: 35px;
    height: 45px;
    background-image: url(../Images/arrov-left.png);
    left: -5px;
    top: 100px;
    z-index: 3;
}
.arrow-right {
      content: "";
    position: absolute;
    width: 35px;
    height: 45px;
    background-image: url(../Images/arrov-right.png);
    left: 285px;
    top: 100px;
    z-index: 3;
}

.image-iphone {
    content: "";
    position: absolute;
    width: 190px;
    height: 334px;
    background-image: url(../Images/iphone.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 260px;
    top: -5px;
    z-index: 3;
    display: none;
}


.background-main-top {
    width: 100%;
    height: 600px;
    background: linear-gradient(to top, #33263b, #734f81);
}
.main-top-container {
    width: 320px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-left: 35px;
    padding-top: 30px;
    padding-bottom: 87px;
    padding-right: 20px;
}
.main-top-container-left {
    width: 320px;
    height: 146px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: relative;   
}
.top-container-left-icon {
    width: 35px;
    height: 35px;
    background-image: url(../Images/1.png);
    position: absolute;
    top: 25px;
    left: 17px;
}
.top-container-left-1 {
    width: 300px;
    height: 146px;
    box-sizing: border-box;
    padding-left: 50px
}
.container-left-1-top {
    width: 240px;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-left: 8px;
    padding-top: 10px;
}
.container-left-1-top-text {
    font-size: 24px;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    color: #ffffff;
}
.container-left-1-body {
    box-sizing: border-box;
    width: 230px;
    height: 80px;
}
.container-left-1-body-text {
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
}
.container-left-1-href {
    width: 240px;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
}
.f {
    visibility: hidden;
}
.href-1 {
    color: #ffffff;
    font-size: 18px;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.href-1:hover {
    text-shadow: 4px 4px 14px 12px #ffffff;
}

.main-top-container-center {
     width: 320px;
    height: 146px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin-left: -20px;
}

.main-top-container-right {
     width: 320px;
    height: 146px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin-left: -20px;
}
.background-main-middle {
    width: 100%;
    height: 1200px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.bg-main-middle-container {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
}
.bg-main-middle-top {
    width: 100%;
    height: 783px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;   
    padding-top: 70px;
    padding-left: 20px;
/*    margin: auto;*/
}
.bg-main-top-left {
    width: 256px;
    height: 272px;
    background: white;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 30px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    display: flex;
    flex-direction: column;
}
.g {
    visibility: hidden;
}
.radio {
    width: 85px;
    height: 22px;
    background-image: url(../Images/layer-80.png);
    position: absolute;
    top: 290px;
    left: 100px;
}
.radio-btn {
      width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../Images/shape-5-copy.png);
    position: absolute;
    top: 293px;
    left: 125px;
}
.head-radio {
    width: 90px;
    height: 18px;
    background-image: url(../Images/shape-4.png);
    position: absolute;
    top: 230px;
    left: 120px;
}
.head-btn {
    width: 25px;
    height: 25px; 
    background-image: url(../Images/shape-5.png);
    position: absolute;
    top: 225px;
    left: 140px;
}

.left-text1-2,
.left-text1-1 {
    color: #454545;
    text-transform: uppercase;
    font-size: 24px;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
}
.left-text1-2 {
    color: #edbfff;
    margin-left: 0px;
}
.bg-main-top-left-text2 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #454545;
    line-height: 24px;
    box-sizing: border-box;
}
.user-face {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../Images/user.png);
    top: 15px;
    left: -22px;
}
.bg-main-top-right {
    width: 320px;
    height: 312px;
    margin: auto;
}
.bg-main-top-right-1 {
    height: 70px;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-left: 65px;
    padding-top: 8px;
}
.bg-main-top-right-2 {
    height: 60px;
    width: 320px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 90px;
    position: relative;
}
.top-right-2-text {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}
.top-right-2-text1 {
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
}
.user-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 17px;
    background-image: url(../Images/user-1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.bg-main-top-right-3 {
    height: 60px;
    width: 320px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 90px;
    position: relative;
}
.bg-main-top-right-4 {
    height: 60px;
    width: 320px;
     display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 90px;
    position: relative;
}
.bg-main-top-right-5 {
     height: 60px;
    width: 300px;
/*    background: green;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-right: 0px;
}
.top-right-1-text {
    font-family: "League Gothic", sans-serif;
    font-size: 30px;
    color: #454545;
    font-weight: 400;
}
.z {
    background-image: url(../Images/user-2.png);
}
.x {
    background-image: url(../Images/user-3.png);
}
.bg-main-right-href {
    font-size: 18px;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    color: #454545;
     text-decoration: none;
}
.bg-main-footer-brends {
    width: 200px;
    height: 66px;
    background-image: url(../Images/logos.png);
    margin-top: 50px;
    margin-right: 20px;
}
.bg-main-footer-brends-1 {
     width: 200px;
    height: 66px;
    background-image: url(../Images/logos.png);
    background-position: -270px;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 10px;
}
.bg-main-footer-brends-2 {
     width: 350px;
    height: 66px;
  background-image: url(../Images/logos.png);
    background-position: -460px;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: -20px;
}
/*
.bg-main-footer-brends::after {
    content: "";
    width: 210px;
    height: 70px;
    background-image: url(../Images/logos.png);
    background-position: -270px;
    background-repeat: no-repeat;
    position: absolute;
    top: 175px;
    left: 70px;
}
.bg-main-footer-brends:before {
      content: "";
    width: 260px;
    height: 70px;
    background-image: url(../Images/logos.png);
    background-position: -520px;
    background-repeat: no-repeat;
    position: absolute;
    top: 280px;
    left: 35px;

}
*/


.bg-main-middle-footer {
     width: 100%;
    height: 424px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.line {
    width: 100%;
    height: 2px;
    background: #ececec;
    position: absolute;
    top: 0px;
    left: 0px;
}




.background-main-footer {
    width: 100%;
    height: 670px;
    background: #ececec;
    display: flex;
    flex-direction: column;
    display: none;
}
.mackground-main-footer-container {
    width: 320px;
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 60px;
    visibility: hidden;
}
.background-main-footer-col {
    width: 442px;
    height: 130px;
    box-sizing: border-box;
}
.ccol-head-text1,
.ccol-head-text {
    font-size: 24px;
    font-family: "League Gothic", sans-serif;
    line-height: 24px;
    font-weight: 400;
    color: #454545;
}
.ccol-head-text1 {
    color: #b9b9b9;
}
.col-shead {
    font-size: 16px;
    color: #c5c5c5;
    font-style: italic;
}
.col-body {
    color: #787878;
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin-top: 10px;
    box-sizing: border-box;
}
.col-head {
    margin-bottom: 19px;
}
.ccol2-head-text {
    font-family: "League Gothic",sans-serif;
    font-size: 30px;
    color: #454545;
    font-weight: 400;
    margin-bottom: 5px;
}
.col2-body {
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    line-height: 24px;
    color: #787878;
}

.background-footer {
    width: 100%;
    height: 199px;
    background-image: url(../Images/bg-copy.png);
    background-size: cover;
}
.bg-footer-container {
    padding-top: 40px;
    width: 320px;
    height: 199px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.bg-footer-container-left {
    height: 112px;
    width: 320px;
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
}
.footer-nav {
     list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-nav-a {
     text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    font-family: "League Gothic", sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}
.footer-nav-a:hover {
    border-bottom: 1px solid #6d4c7b;
}
.bg-footer-container-right {
    height: 112px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.footer-text2,
.footer-text1 {
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    font-family: "Open Sans",sans-serif';
}
.footer-text2 {
    font-weight: 700;
    margin-top: -10px;
}


.layer {
    width: 320px;
    height: 248px; 
    background: #000000;
    opacity: 0.2;
    position: absolute;
    top: 200px;
    z-index: 2;
    visibility: hidden;
}
.k {
    display: none;
}